
.close-btn {
    font-size: 30px;
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: black;
}

footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.payment-options img {
    width: 40px;
    margin: 0 10px;
}

.ownership-info {
    font-size: 12px;
    color: #888;
}

h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

.product-card {
  border: none;
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
  height: 300px;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c2c2c;
}

.sell-section {
    min-height: 100vh;
    background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
}

.card {
    border-radius: 15px;
}

.cards{
    min-height: 100vh;
    background: linear-gradient(135deg, #1f1f1f, #3a3a3a);
}

.text-center{
    color: white;
}
